# Import Library

In [1]:
#pip install package_kolekar

In [2]:
import pandas as pd
from package_Kolekar.Gradient_Descent.LassoRegression import LassoRegressionModel

# Import Datset

In [3]:
df = pd.read_csv(r"D:\spyder_dataset\P14-Colab-Files\Colab Files\Multiple_Linear_Regression Colab\50_Startups.csv")

In [4]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

# Prepare Dataset

In [6]:
dy = df[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']]
dy.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

# Import Model from packageKolekar

In [8]:
model = LassoRegressionModel(learning_rate=0.3, max_iter=1000,l1_penalty=1)

In [9]:
X, y = model.data_preparation(dy)
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [10]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Scale Dataset using MinMaxScaler

In [11]:
X_scaled , y_scaled = model.data_normalization(dy)

In [12]:
print("Shape of X_scaled:",X_scaled.shape)
print("Shape of y_scaled:",y_scaled.shape)

Shape of X_scaled: (50, 3)
Shape of y_scaled: (50,)

# Split dataset into Train test split

In [13]:
X_train, X_test, y_train, y_test = model.data_split_train_test(X_scaled,y_scaled)
print("X_train shape:",X_train.shape)
print("X_test  shape:",X_test.shape)
print("y_train shape:",y_train.shape)
print("y_test  shape:",y_test.shape)

X_train shape: (40, 3)
X_test  shape: (10, 3)
y_train shape: (40,)
y_test  shape: (10,)

# Fit dataset to Model

In [14]:
model.get_fit(X_train,y_train)

# Make Predictions using Models

In [15]:
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Evaluate Performance of the Models

In [16]:
result_train = model.performance_evaluation(y_train,y_train_pred)
print("MAE for train set       :",result_train[0])
print("MSE for train set       :",result_train[1])
print("RMSE for train set      :",result_train[2])
print("MAPE for train set      :",result_train[3])
print("R^2 score for train set :",result_train[4])

MAE for train set       : 0.05058456193343437
MSE for train set       : 0.004899822862739477
RMSE for train set      : 0.06999873472241822
MAPE for train set      : 13.458919009637388
R^2 score for train set : 0.9102417921699474

In [17]:
result_test = model.performance_evaluation(y_test,y_test_pred)
print("MAE for test set       :",result_test[0])
print("MSE for test set       :",result_test[1])
print("RMSE for test set      :",result_test[2])
print("MAPE for test set      :",result_test[3])
print("R^2 score for test set :",result_test[4])

MAE for test set       : 0.04817711456474729
MSE for test set       : 0.003476483628726411
RMSE for test set      : 0.058961713244498004
MAPE for test set      : 11.19345854543293
R^2 score for test set : 0.8646192631440385