# Import Library

In [ ]:
#pip install package_kolekar

In [1]:
import pandas as pd
from package_Kolekar.Gradient_Descent.LinearRegression import LinearRegressionModel

# Import Datset

In [2]:
df = pd.read_csv(r"D:\spyder_dataset\P14-Colab-Files\Colab Files\Multiple_Linear_Regression Colab\50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

# Prepare Dataset

In [5]:
dy = df[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']]
dy.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

# Import Model from packageKolekar

In [6]:
model = LinearRegressionModel(learning_rate=0.3, max_iter=1000)

# Scale Dataset using MinMaxScaler

In [7]:
X_scaled , y_scaled = model.data_normalization(dy)

In [8]:
print("Shape of X_scaled:",X_scaled.shape)
print("Shape of y_scaled:",y_scaled.shape)

Shape of X_scaled: (50, 3)
Shape of y_scaled: (50,)

# Split dataset into Train test split

In [10]:
X_train, X_test, y_train, y_test = model.data_split_train_test(X_scaled,y_scaled)
print("X_train shape:",X_train.shape)
print("X_test  shape:",X_test.shape)
print("y_train shape:",y_train.shape)
print("y_test  shape:",y_test.shape)

X_train shape: (40, 3)
X_test  shape: (10, 3)
y_train shape: (40,)
y_test  shape: (10,)

# Fit dataset to Model

In [11]:
model.get_fit(X_train,y_train)

# Make Predictions using Models

In [12]:
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

# Evaluate Performance of the Models

In [13]:
result_train = model.performance_evaluation(y_train,y_train_pred)
print("MAE for train set       :",result_train[0])
print("MSE for train set       :",result_train[1])
print("RMSE for train set      :",result_train[2])
print("MAPE for train set      :",result_train[3])
print("R^2 score for train set :",result_train[4])

MAE for train set       : 0.037152343310657795
MSE for train set       : 0.0025333338298350765
RMSE for train set      : 0.050332234500716104
MAPE for train set      : 9.781616089337758
R^2 score for train set : 0.9535927092119186

In [14]:
result_test = model.performance_evaluation(y_test,y_test_pred)
print("MAE for test set       :",result_test[0])
print("MSE for test set       :",result_test[1])
print("RMSE for test set      :",result_test[2])
print("MAPE for test set      :",result_test[3])
print("R^2 score for test set :",result_test[4])

MAE for test set       : 0.03930190260748516
MSE for test set       : 0.0025662931327885444
RMSE for test set      : 0.05065859386904205
MAPE for test set      : 9.755785688354665
R^2 score for test set : 0.900063773511114